$main-bg: #f2f2f2;
$main-container-bg: #fff;
$footer-bg: #0b0e11;
$header-bg: #001228;
$header-color: #fff;
$main-font-size: 14px;
$logo-size: 48px;
$main-color-text: #333;
$footer-color-text: #848e9c;
$line-color: #848e9c;
$main-brown: #623e36;
$main-yellow-dark: #9a7205;
$main-orange: #f50;
$red: #b2001a;
$main-card-bg: linear-gradient(135deg, rgb(147, 147, 149) 0%, rgb(90, 94, 99) 100%);
$second-card-bg: linear-gradient(135deg, rgb(147 147 149 / 42%) 0%, rgba(255, 118, 0, 0.31) 100%);